{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
    {% block title %}

	{% endblock %}
	</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Xeno Restro Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link rel="shortcut icon" href=" {% static 'clientstatic/images/modal.jpg' %}" type="image/x-icon">
	<!-- Bootstrap Core CSS -->
	<link href=" {% static 'clientstatic/css/bootstrap.css' %} " rel='stylesheet' type='text/css' />

	<!-- Custom CSS -->
	<link href=" {% static 'clientstatic/css/style.css' %} " rel='stylesheet' type='text/css' />
	<!-- font-awesome icons -->
	<link href=" {% static 'clientstatic/css/fontawesome-all.min.css' %} " rel="stylesheet">
	<!-- //Custom Theme files -->
	<!-- Custom x js -->
	<script src="{% static 'clientstatic/js/jquery-3.4.1.min.js' %}"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- side nav css file -->
	<link href='{% static "clientstatic/css/SidebarNav.min.css" %}' media='all' rel='stylesheet' type='text/css' />
	<!-- //side nav css file -->
	<!--webfonts-->
	<!-- logo -->
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<!-- titles -->
	<link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
	<!--//webfonts-->


</head>
<body class="cbp-spmenu-push">
	<div class="main-content">
		<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
			<!--left-fixed -navigation-->
			<aside class="sidebar-left bg-light"  style="overflow-y: scroll;">
				<h1>
					<a href="{% url 'menuapp:clienthome' %}" class="logo">
						Xeno Restro
					</a>
				</h1>
				<ul class="sidebar-menu">
					<!-- <li class="treeview {% block home %} {% endblock %}">
						<a href="{% url 'menuapp:clienthome' %}">
							<i class="fas fa-home"></i>
							<span>Home</span>
						</a>
					</li> -->
					
					<!-- <li class="treeview {% block service %} {% endblock %}">
						<a href=" {% url 'menuapp:clientservice' %} ">
							<i class="fab fa-servicestack"></i>
							<span>Services</span>
						</a>
					</li> -->
					<!-- <li class="treeview {% block portfolio %} {% endblock %}">
						<a href="portfolio.html">
							<i class="fab fa-buromobelexperte"></i>
							<span>Portfolio</span>
						</a>
					</li> -->
					<li class="treeview">
						<a href="#">
							<i class="fas fa-plus"></i>
							<span>Menus</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							{% for menu in allmenus %}
							<li class="">
								<a href=" {% url 'menuapp:clientmenudetail' menu.id %} ">
									<i class="fa fa-angle-right"></i>{{ menu.title }}</a>
							</li>
							{% endfor %}

						</ul>
					</li>
					<li class="treeview {% block item %} {% endblock %}">
						<a href=" {% url 'menuapp:clientitem' %} ">
							<i class="fas fa-info"></i>
							<span>All Items</span>
						</a>
					</li>
					<li class="treeview {% block special_item %} {% endblock %}">
						<a href=" {% url 'menuapp:clientspecialitemlist' %} ">
							<i class="fas fa-info"></i>
							<span>Special Item</span>
						</a>
					</li>
					<li class="treeview  {% block your_basket %} {% endblock %}">
						<a href="{% url 'menuapp:basket' %}">
							<i class="fas fa-address-book"></i>
							<span>Your Basket</span>
						</a>
					</li>
					<li class="treeview  {% block your_order %} {% endblock %}">
						<a href="{% url 'menuapp:orderlist' %}">
							<i class="fas fa-address-book"></i>
							<span>Your Order Detail</span>
						</a>
					</li>
					<!-- <li class="treeview  {% block album %} {% endblock %}">
						<a href="{% url 'menuapp:clientalbum' %}">
							<i class="fas fa-address-book"></i>
							<span>Album</span>
						</a>
					</li> -->
					<li class="treeview  {% block enquery %} {% endblock %}">
						<a href=" {% url 'menuapp:clientenquery' %} ">
							<i class="fas fa-address-book"></i>
							<span>Enquery</span>
						</a>
					</li>
					<li class="treeview  {% block feedback %} {% endblock %}">
						<a href=" {% url 'menuapp:clientfeedback' %} ">
							<i class="fas fa-address-book"></i>
							<span>Feedback</span>
						</a>
					</li>
					<!-- <li class="treeview">
						<a href="">
							<span>Table 1</span>
						</a>
					</li> -->
					</ul>
					{% if request.user.is_authenticated %}
					<li class = "treeview">
						<a  href=" {% url 'menuapp:adminhome' %} ">
							<span>{{request.user.username}}</span></a>
						<a href="/emenu-admin/signout/">
							<span>Logout</span>
						</a>
					</li>
					{% endif %}
					<span>Search Items</span>
					<form method="GET" action="/search/">
					  <input type="text" name="alias" placeholder="search..." value="{{request.GET.alias}}">
					  <button>Submit</button>
					 </form>
				<!-- <button type="button" class="btn btn-info btn-lg btn-block mt-5 w3ls-btn p-1 text-uppercase font-weight-bold" data-toggle="modal"
				    aria-pressed="false" data-target="#exampleModal">
					Login
				</button> -->
			</aside>
		</div>
	</div>
	<!--left-fixed -navigation-->
	<!-- header-starts -->
	<header class="header-section">
		<div class="header-left  clearfix">
			<!--logo start-->
			<div class="brand">
				<button id="showLeftPush">
					<i class="fas fa-bars"></i>
				</button>
			</div>
			<!--logo end-->
		</div>
		<div class="header-right">
		</div>
	</header>
	<!-- //header-ends -->


{% block content %}




{% endblock %}


<!-- footer -->
		<div class="footer py-md-5 pt-sm-3 pb-sm-5">
			<div class="container">
				<div class="row p-sm-5 px-3 py-5">
					<!-- footer grid top -->
					<div class="col-lg-8">
						<div class="footer-top">
							<h2>
								<a href="{% url 'menuapp:clienthome' %}">Xeno Restro
								</a>
							</h2>
							<p class="mt-2">Welcome to the most fabulost restraurant ever where your mouth will say mwaaaah....
							</p>
						</div>
						<!-- //footer grid top -->
						<!-- footer-bottom -->
						<div class="footer-bottom pt-5">
							<div class="row">
								<!-- footer grid1 -->
								<div class="col-sm-4 footv3-left">
									<h3 class="mb-3 w3f_title">Navigation</h3>
									<ul class="list-agileits">
										<li>
											<a href="{% url 'menuapp:clienthome' %}">
												Home
											</a>
										</li>
										<li class="my-3">
											<a href=" {% url 'menuapp:clienthome' %} ">
												About Us
											</a>
										</li>
										<li>
											<a href=" {% url 'menuapp:clientenquery' %} ">
												Enquery Us
											</a>
										</li>
									</ul>
								</div>
								<!-- //footer grid1 -->
								<!-- footer grid2 -->
								<div class="col-sm-4  footv3-left my-sm-0 my-5">
									<h3 class="mb-3 w3f_title">Special Items</h3>
									<ul class="list-agileits">
										<li>
											<a href="{% url 'menuapp:clientspecialitemlist' %}">
												Special Item
											</a>
										</li>
										<li class="my-3">
											<a href=" {% url 'menuapp:clientitem' %} ">
												All Items
											</a>
										</li>
										<li class="mb-3">
											<a href=" {% url 'menuapp:clientitem' %} ">
												Items
											</a>
										</li>
									</ul>
								</div>
								<!-- //footer grid2 -->
								<!-- footer grid3 -->
								<div class="col-sm-4 footv3-left">
									<h3 class="w3f_title mb-3">New Items</h3>
									<ul class="list-agileits">
										<li>
											<a href="{% url 'menuapp:clienthome' %}">
												Link One
											</a>
										</li>
										<li class="my-3">
											<a href=" {% url 'menuapp:clienthome' %} ">
												Link Two
											</a>
										</li>
										<li class="mb-3">
											<a href=" {% url 'menuapp:clientservice' %} ">
												Link Three
											</a>
										</li>
									</ul>
								</div>
								<!-- //footer grid3 -->
							</div>
						</div>
						<!-- //footer bottom -->
					</div>
					<!-- //footer bottom -->
					<!-- footer right -->
					<div class="col-lg-4 mt-lg-0 mt-5">
						<h3 class="mb-3 w3f_title">Subscribe Us</h3>
						<form action="{% url 'menuapp:clientsubscriber' %}" method="post">
							{% csrf_token %}
							{{subsform.email}}
							<!-- <input type="email" name="Email" placeholder="Enter your email..." required=""> -->
							<button class="btn1"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
							<div class="clearfix"> </div>
						</form>
						<h3 class="mb-3 w3f_title">Contact Us</h3>
						<div class="fv3-contact">
							<span class="fas fa-envelope-open mr-2"></span>
							<p>
								<a href="mailto:example@email.com">alishprajapati33@gmail.com</a>
							</p>
						</div>
						<div class="fv3-contact my-3">
							<span class="fas fa-phone-volume mr-2"></span>
							<p>+9810366486</p>
						</div>
						<div class="footerv2-w3ls pt-4">
							<h3 class="w3f_title">Socialize with Us</h3>
							<ul class="social-iconsv2 agileinfo pt-3">
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- //footer right -->
				</div>
				<!-- //footer row -->
			</div>
			<!-- copyright -->
			<div class="cpy-right text-center pb-sm-0 pb-5">
				<p>Â© 2018 Xeno Restro. All rights reserved | Design by
					<a href="http://w3layouts.com"> Handsome.</a>
				</p>
			</div>
			<!-- //copyright -->
			<!-- //footer container -->
		</div>
		<!-- //footer -->
		<!-- login and register modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Login</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img src=" {% static 'clientstatic/images/modal.jpg' %} " alt="" class="img-fluid" />
						<form action="#" method="post" class="p-3">
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Username</label>
								<input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name" required="">
							</div>
							<div class="form-group">
								<label for="password" class="col-form-label">Password</label>
								<input type="password" class="form-control" placeholder=" " name="Password" id="password" required="">
							</div>
							<div class="right-w3l">
								<input type="submit" class="form-control" value="Login">
							</div>
							<div class="row sub-w3l my-3">
								<div class="col sub-agile">
									<input type="checkbox" id="brand1" value="">
									<label for="brand1" class="text-dark">
										<span></span>Remember me?</label>
								</div>
								<div class="col forgot-w3l text-right">
									<a href="#" class="text-dark">Forgot Password?</a>
								</div>
							</div>
							<p class="text-center dont-do">Don't have an account?
								<a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-dark">
									Register Now</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel1">Register</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img src=" {% static 'clientstatic/images/modal.jpg' %} " alt="" class="img-fluid" />
						<form action="#" method="post" class="p-3">
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Username</label>
								<input type="text" class="form-control" placeholder=" " name="Name" id="recipient-rname" required="">
							</div>
							<div class="form-group">
								<label for="recipient-email" class="col-form-label">Email</label>
								<input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email" required="">
							</div>
							<div class="form-group">
								<label for="password1" class="col-form-label">Password</label>
								<input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
							</div>
							<div class="form-group">
								<label for="password2" class="col-form-label">Confirm Password</label>
								<input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">
							</div>
							<div class="sub-w3l">
								<div class="sub-agile">
									<input type="checkbox" id="brand2" value="">
									<label for="brand2" class="mb-3 text-dark">
										<span></span>I Accept to the Terms & Conditions</label>
								</div>
							</div>
							<div class="right-w3l">
								<input type="submit" class="form-control" value="Register">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- //login and register modal -->
	</div>
	<!-- js-->
	<script src=" {% static 'clientstatic/js/jquery-2.2.3.min.js' %} "></script>
	<!-- js-->

	<!-- for toggle left push menu script -->
	<script src=" {% static 'clientstatic/js/classie.js' %} "></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'),
			showLeftPush = document.getElementById('showLeftPush'),
			body = document.body;

		showLeftPush.onclick = function () {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};


		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<!-- //Classie -->
	<!-- //for toggle left push menu script -->
	<!-- side nav js -->
	<script src=" {% static 'clientstatic/js/SidebarNav.min.js' %} "></script>
	<script>
		$('.sidebar-menu').SidebarNav()
	</script>
	<!-- //side nav js -->
	<!-- script for password match -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- script for password match -->
	<!-- start-smooth-scrolling -->
	<script src=" {% static 'clientstatic/js/move-top.js' %} "></script>
	<script src=" {% static 'clientstatic/js/easing.js' %} "></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll ").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			 var defaults = {
				 containerID: 'toTop', // fading element id
				 containerHoverID: 'toTopHover', // fading element hover id
				 scrollSpeed: 1200,
				 easingType: 'linear' 
			 };
			 */

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<script src=" {% static 'clientstatic/js/SmoothScroll.min.js' %} "></script>
	<!-- //smooth-scrolling-of-move-up -->
	<script src=" {% static 'clientstatic/js/counter.js' %} "></script>
	<!-- //stats -->
	<!-- Bootstrap Core JavaScript -->
	<script src=" {% static 'clientstatic/js/bootstrap.js' %} ">
	</script>
	<!-- //Bootstrap Core JavaScript -->

{% block js %}
{% endblock %}


	<script type="text/javascript">
		$(document).ready(function(){
			$(".add-to-basket").on("click", function(){
				var url_end_point = $(this).attr("data-href");
				$.ajax({
					method: 'get',
					url: url_end_point,
					data: {

					},
					success: function(){
						alert("item added to your basket")
					}
				})
			})
		})
	</script>


</body>
</html>