{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'clientstatic/css/style.css' %}">

	<script src=" {% static 'adminstatic/js/jquery-3.4.1.min.js' %} " ></script>
	<script src=" {% static 'adminstatic/js/bootstrap.min.js' %} "></script>
	<link rel="stylesheet" type="text/css" href=" {% static 'adminstatic/css/bootstrap.min.css' %} ">

	{% block css %}
	{% endblock %}

</head>
<body class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href=" {% url 'currencyapp:clienthome' %} ">Welcome-P</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item {% block home %}{% endblock %}">
	        <a class="nav-link" href=" {% url 'currencyapp:clienthome' %} ">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'currencyapp:clientcurrencyapi' %}">Medicines</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'currencyapp:clientselect' %}">select</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'currencyapp:clientbanklist' %}">Bank List</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'currencyapp:htmlsvg' %}">html svg</a>
	      </li>
	     <!--  <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          My Journal
	        </a>
	        <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
	          <a id="navbar-dropdown" class="dropdown-item" href="#" style="color: green;">Diary</a>
	          <a id="navbar-dropdown" class="dropdown-item" href="#" style="color: green;">Blogs</a>
	          <div class="dropdown-divider"></div>
	          <a id="navbar-dropdown" class="dropdown-item" href="#" style="color: green;">To-Do-Lists</a>
	        </div>
	      </li>
  	      <li class="nav-item dropdown"> -->
	        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Currency
	        </a> -->
	        <form method="POST" action="" id="my_awesome_form" class="nav-item dropdown nav-link " aria-labelledby="navbarDropdown">
	        	<select name = "currency_conversion" id="currency_selector" class="bg-dark" style="border: #999; color: lightgrey;">
	        		<option value="">Select Currency</option>
	        		<option value="NPR" href="hello hello hello">NPR</option>
	        		<option value="USD">USD</option>
	        		<option value="EUR">EUR</option>
	        		<option value="GBP">GBP</option>
	        	</select>
				<!-- <a id="navbar-dropdown" data-currency="NRS" class="dropdown-item woocs_curr_link" href="#" style="color: green;">NRS</a>
				<a id="navbar-dropdown" data-currency="USD" class="dropdown-item woocs_curr_link" href="#" style="color: green;">USD</a>
				<div class="dropdown-divider"></div>
				<a id="navbar-dropdown" data-currency="EUR" class="dropdown-item woocs_curr_link" href="#" style="color: green;">EURO</a>
				<a id="navbar-dropdown" data-currency="GBP" class="dropdown-item woocs_curr_link" href="#" style="color: green;">POUND</a> -->
	        </form>
	      </li>
	      {% if request.user.is_authenticated %}
	      <li class="nav-item">
	        <a class="nav-link disabled" href="#" style="color: #03AC13;">User: {{request.user}}</a>
	      </li>
	      <li class="nav-item">
	      	<a class="nav-link" href=" # " style="color: red;">Signout</a>
	      </li>
	      {% else %}
	      {% endif %}
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>



{% block content %}
{% endblock %}


<script type="text/javascript">
	$(document).ready(function() {
	    $(".dropdownMenuLink").dropdown();
	});
</script>

<script>
	$(document).ready(function() {
		$("#currency_selector").change(function () {
			var x = $(this).val();
			// var y = $(this.attr(href));
			// alert(x)
			// array = x['href']
			// alert(array)
			// x = list(array)
			// EUR= array.get(x[46])
			// alert("change vay ohai")
			 $.ajax({

			        url: "http://127.0.0.1:8000/",
			        type: "GET",
			        data: {
			        	x
			        },
					success: function(){
						// setTimeout(function(){// wait for 5 secs(2)
						// 	location.reload(); // then reload the page.(3)
						// }); 
						// alert('success')
					},

			        error: function (errormessage) {
			            alert("twaat twaat twaat!!!!!!!!!!");
			        }
			    });

		});
	});
  </script>

<!-- <script>    
	jQuery('#currency_selector').on('change', function(){      

	    jQuery.ajax({
	      url: "/",
	      method: 'post',
	      data: {
	         id: $(this).val(),
	      },
	      success: function(result){
	         jQuery('.alert').show();
	         jQuery('.alert').html(result.success);
	      }
	    });

	});
</script>
 -->

<!-- <script type="text/javascript">
	$(document).ready( function() {
	  $("select").change(function(){
		    $.get("/page.html?" + $(this).parent("form").find(":input").serialize()); 
		});
	});
</script>
 -->


{% block js %}
{% endblock %}
</body>
</html>