{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
html svg
{% endblock %}

{% block content %}
<a href="" target="_blank">
<canvas id="CanvasTop" width="300" height="150" style="border:2px solid black; margin-top: 80px; border-radius: 50%; position:absolute; top:10px; left:500px; z-index:1">
</canvas>
</a>
<a href="" target="_blank">
<canvas id="CanvasDown" width="300" height="150" style="border:2px solid black; margin-top: 80px; border-radius: 50%; position:absolute; top:400px; left:500px; z-index:1">
</canvas>
</a>
<a href="" target="_blank">
<canvas id="CanvasLeft" width="300" height="150" style="border:2px solid black; margin-top: 80px; border-radius: 50%; position:absolute; top:200px; left:50px; z-index:1">
</canvas>
</a>
<a href="" target="_blank">
<canvas id="CanvasRight" width="300" height="150" style="border:2px solid black; margin-top: 80px; border-radius: 50%; position:absolute; top:200px; left:950px; z-index:1">
</canvas>
</a>
<a href="" target="_blank">
<canvas id="myCanvasCenter" width="250" height="250" style="border:2px solid black; margin-top: 80px; border-radius: 50%; position:absolute; top:130px; left:500px; z-index:1">
</canvas>
</a>

{% endblock %}

{% block js %}
<!-- <script>
	var c = document.getElementById("myCanvas");
	var ctx = c.getContext("2d");
	ctx.beginPath();
	ctx.arc(500,110,100,0,2*Math.PI);
	ctx.stroke();
</script> 
 -->
<script>
var c = document.getElementById("CanvasTop");
var ctx = c.getContext("2d");
ctx.font = "30px Arial";
// ctx.fillText("Hello World ",80,50);
ctx.fillText("This is how we know",10,80);
ctx.fillText("-Chainsmokers",60,110);
</script>
<script>
var c = document.getElementById("CanvasDown");
var ctx = c.getContext("2d");
ctx.font = "30px Arial";
// ctx.fillText("Hello World ",80,50);
ctx.fillText("This is how we know",10,80);
ctx.fillText("-Chainsmokers",60,110);
</script>
<script>
var c = document.getElementById("CanvasLeft");
var ctx = c.getContext("2d");
ctx.font = "30px Arial";
// ctx.fillText("Hello World ",80,50);
ctx.fillText("This is how we know",10,80);
ctx.fillText("-Chainsmokers",60,110);
</script>
<script>
var c = document.getElementById("CanvasRight");
var ctx = c.getContext("2d");
ctx.font = "30px Arial";
// ctx.fillText("Hello World ",80,50);
ctx.fillText("This is how we know",10,80);
ctx.fillText("-Chainsmokers",60,110);
</script>
<script>
var c = document.getElementById("myCanvasCenter");
var ctx = c.getContext("2d");
ctx.font = "30px Arial";
// ctx.fillText("Hello World ",80,50);
ctx.fillText("This is how we know",10,80);
ctx.fillText("-Chainsmokers",60,110);
</script>
{% endblock %}