{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Client Home Page
{% endblock %}

{% block content %}
<div class="row" style="margin-left: 5px;">
	<div class="col">
		<h3>Hello</h3>
	</div>
</div>
<div class="row" style="margin-left: 5px;">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<table style="width: 100%;" id="tablee">
			<thead style="border: 1px solid green;">
				<tr style="text-align: center;">
					<th>Name</th>
					<th>Image</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody >
				{% for product in allproducts %}
				<tr style="border: 1px solid blue; text-align: center;">
					<th style="border: 1px solid blue; text-align: center;">{{product.title}}</th>
					<th style="border: 1px solid blue; text-align: center;"><img src="{{product.image.url}}" style="height: 100px; width: 150px;"></th>
					<th style="border: 1px solid blue; text-align: center;">{{product.instock}}</th>
					<th style="border: 1px solid blue; text-align: center;"><strike>{{product.marked_price}}</strike> <span>{{product.selling_price}}</span></th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-1"></div>
</div>
{% endblock %}