{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Selecet Try page
{% endblock %}

{% block content %}

<h4>select</h4>

<form method="post">
	{% csrf_token %}
	<select id="selectid" name="selectname">
		<option value="">---Select options---</option>
		<option value="a">a</option>
		<option value="b">b</option>
		<option value="c">c</option>
		<option value="d">d</option>
	</select>
	
</form>
{% endblock %}

{% block js %}
	
<script type="text/javascript">
	$(document).ready(function(){
		$("#selectid").on("change", function(){
			var x = $(this).val();
			alert(x)
			$.ajax({
				url: 'http://127.0.0.1:8000' + "?currency=" + x,
				type: "get",
				
				success: function(){
					alert('success')
				},
				error: function(){
					alert("error")
				}
			})
		});
	});
</script>


{% endblock %}