{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Selecet Try page
{% endblock %}

{% block content %}

<h4><u><b>Bank Account List</b></u></h4>
<br>
<div class="row">
	<div class="col-md-6">
		<table class="container-fluid">
			<thead>
				<tr>
					<th>S No</th>
					<th>Account Holder</th>
					<th>Bank Amount</th>
				</tr>
			</thead>
			<tbody>
				{% for ac in accounts %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{ac.accont_holder}}</td>
					<td>{{ac.balance}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block js %}
	


{% endblock %}