{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Currency APi
{% endblock %}

{% block content %}
{% for rates in allproducts %}
<div style="font-size: 2em;">
	<h3>{{rates.title}}:</h3> <p><strike>{{rates.marked_price}}</strike> <strong>{{rates.selling_price}}</strong></p>
</div>
<!-- <h4>{{HRK}}</h4> -->
{% endfor %}
{% endblock %}