#body {
	background-color: #26D701;
}

#head {
	font-size: 1.5em;
	background-color: #03AC13;
}

#navbar-dropdown {
	font-weight: 700;
	font-size: 1.2em;
}

#navbar-dropdown:hover {
	background-color: #AEF359;
}

div.navbar-collapse ul.navbar-nav li.active {
	background-color: #353941;
}

div.navbar-collapse ul.navbar-nav li.active a.nav-link {
	color: #01B944;
	border: 1px solid #01B944;
	border-radius: 10%;
	background-color: #353941;
}

#map {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 400px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
}

#contact {
	background-color: grey; 
	text-align: center; 
	margin-top: 5px;
	margin-bottom: 5px;
	color: #32612D;
	font-size: 2em;
}

#initials {
	padding: 10px 7px;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: silver;
}

#formfield {
	background-color: silver;
	opacity: 200%;
}

table, th {
	border: 2px solid black;
	background-color: grey;
	text-align: center;
}

td {
	border: 2px solid black;
	
}

.table-blog {
	border: 2px solid black;
	background-color: grey;
	text-align: center;

}

.table-blog:hover {
	background-color: #028A0F;
}

.table-expire {
	border: 2px solid black;
	background-color: orange;
	text-align: center;

}

.table-expire:hover {
	background-color: red;
	color: white;
}


#blogcreate {
	padding: 2px;
	background-color: gold;
	width: 100%;
	font-size: 1.5em;
	font-family: cursive;
}

#blogcreate:hover {
	background-color: #028A0F;
}

#blogcancel {
	padding: 2px;
	background-color: red;
	width: 100%;
	font-size: 1.5em;
	font-family: cursive;
}

#blogcancel:hover {
	background-color: #fab072;
}

input[type=submit] {
	padding: 2px 5px;
	background-color: orange;
	font-family: cursive;

}

input[type=submit]:hover {
	background-color: #028A0F;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}

.footer .footer-first {
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	color: black;
	/*border: 1px solid #876;*/
	background-color: green;
}

.footer .footer-last {
	/*margin-top: 10px;*/
	text-align: center;
	color: red;
	/*border: 2px solid #876;*/
	background-color: #03C04A;
}


/*CSS For Blog*/

.container {
  position: relative;
  text-align: center;
  color: white;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#blogging {
	background-color: #0B6623; 
	margin-top: 5px;
	margin-right: 1px;
	margin-left: 1px;
	font-weight: 700;
	padding: 3px;
	text-align: center;
}

#blogging-body {
	background-color: #0B6633;
	margin-top: 5px;
	margin-right: 1px;
	margin-left: 1px;
}


/*############### Image Slider CSS ##############*/
.showSlide {  
    display: none  
}  
.showSlide img {  
    width: 100%;  
}  
.slidercontainer { 
	height: 350px; 
    max-width: 1280px;  
    position: relative;  
    margin: auto;  
}  
.left, .right {  
    cursor: pointer;  
    position: absolute;  
    top: 50%;  
    width: auto;  
    padding: 16px;  
    margin-top: -22px;  
    color: white;  
    font-weight: bold;  
    font-size: 18px;  
    transition: 0.6s ease;  
    border-radius: 0 3px 3px 0;  
}  
.right {  
    right: 0;  
    border-radius: 3px 0 0 3px;  
}  
    .left:hover, .right:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
.content {  
    color: #eff5d4;  
    font-size: 30px;  
    padding: 8px 12px;  
    position: absolute;  
    top: 10px;  
    width: 100%;  
    text-align: center;  
}  
.active {  
    background-color: #717171;  
}  
/* Fading animation */  
.fadee {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
} 