/*Nav bar css*/

#navbar-dropdown {
	font-weight: 700;
	font-size: 1.2em;
}

#navbar-dropdown:hover {
	background-color: #AEF359;
}

div.navbar-collapse ul.navbar-nav li.active {
	background-color: #353941;
}

div.navbar-collapse ul.navbar-nav li.active a.nav-link {
	color: #01B944;
	border: 1px solid #01B944;
	border-radius: 10%;
	background-color: #353941;
}
